body {
  margin: 0;
}
.page-40  {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.page-40  .page-40-overlap-group-wrapper {
  background-color: #dfbcda;
  border: 1.34px none;
  height: 1132px;
  width: 799.93px;
}

.page-40  .page-40-overlap-group {
  background-color: #F99E6B;
  height: 1132px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 78px 68px 62px 68px;
  box-sizing: border-box;
}

.page-40  .text {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16.1px;
  font-weight: 400;
 
  letter-spacing: 0;
  line-height: normal;
}

.page-40  .name-s-enneagram {
  color: #ffffff;
  font-family: "Roboto-ExtraLight", Helvetica;
  font-size: 32.3px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin: 0;
  text-align: center;
  width: 664px;
}

.page-40  .page-40-text-wrapper {
  font-weight: 200;
}

.page-40  .span {
  font-family: "Roboto-BoldItalic", Helvetica;
  font-size: 29.6px;
  font-style: italic;
  font-weight: 700;
}

.page-40  .in-conclusion-name {
  color: #000000;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 18.8px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  width: 660px;
  text-align: justify;
}

.page-40  .page-40-text-wrapper-2 {
  color: #000000;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 18.8px;
  font-weight: 400;
  letter-spacing: 0;
}

.page-40  .page-40-page-40-text-wrapper-3 {
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
}

.page-40  .overlap {

  display: grid;
}

.page-40  .element {

}

.page-40  .logo {
  height: 40px;
  object-fit: cover;
  align-self: end;
  grid-area: 1 / 2 / 3 / 3;
  margin-left: -53px;
  width: 159px;
}

.page-40 .type-8-page-40-overlap {
  height: 510px;
  width: 568px;
  display: flex;
  flex-direction: column;
}

.page-40 .type-8-page-40-element {
  height: 510px;
  width: 489px;
  align-self: center;
}