body {
  margin: 0;
}


body {
  margin: 0;
}

.type-6-page-22-container,
.type-6-page-22-container * {
  box-sizing: border-box;
}

.type-6-page-22-container {
  background: #ffffff;
  width: 800px;
  height: 1132px;
  box-shadow: 0px 5.38px 5.38px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  background-image: url("pages/type-6/page-22/type-6-page-22.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
