body {
  margin: 0;
}
.p-40,
.p-40 * {
  box-sizing: border-box;
  justify-content: flex-end;
}
.p-40 {
  background: #dba6d0;
  width: 799.93px;
  height: 1132px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.p-40__rectangle-18 {
  background: #ffffff;
  width: 799.93px;
  height: 80.67px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 62px;
}
.p-40__logo-enneagram-universe-1-1 {
  width: 158.64px;
  height: 40.33px;
}
