body {
  margin: 0;
}
.p-19,
.p-19 * {
  box-sizing: border-box;
}
.p-19 {
  background: #ffffff;
  width: 799.93px;
  height: 1132px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 40px 68px 32px 68px;
}
.p-19__enneagram-1-w-2-the-lawyer {
  color: #000000;
  text-align: left;
  font: 700 21.51px "Roboto", sans-serif;
  margin-top: 24.47px;
}
.p-19__the-stages-of-growth-enneagram-1-wings {
  color: #000000;
  text-align: left;
  font: 700 26.89px "Roboto", sans-serif;
  text-decoration: underline;
  margin-top: 45.71px;
}
.p-19__logo-enneagram-universe-1-1 {
  width: 158.64px;
  height: 40.33px;
  display: flex;
  align-self: flex-end;
}
.p-19___19 {
  color: #989898;
  text-align: left;
  font: 400 13.44px "Roboto", sans-serif;
  display: flex;
  justify-content: flex-end;
}
.p-19__personal-growth-healthy-enneagram-1 {
  color: #989898;
  text-align: left;
  font: 400 italic 13.44px "Roboto", sans-serif;
  display: flex;
  justify-content: center;
}
.p-19__healthy-enneagram-type-1 {
  color: #000000;
  text-align: left;
  font: 700 21.51px "Roboto", sans-serif;
}
.p-19__at-a-healthy-state-the-reformer-feels-calm-pleased-with-themselves-and-their-environment-they-achieve-an-emotional-independence-free-of-external-acceptance-or-third-party-approval-because-type-ones-are-aligned-with-their-own-very-intimate-purpose-it-s-ok-to-be-them-they-are-on-the-correct-path-constantly-learning-and-becoming-more-comprehensive-with-their-own-pace-makes-it-easier-for-type-ones-to-understand-other-s-rhythm-too-they-feel-inspired-by-their-own-dreams-doing-what-they-have-to-do-in-order-to-achieve-bigger-goals-is-what-makes-enneagram-1-s-feel-comfortable-and-vibrant-the-reformer-type-are-now-wise-keeping-both-feet-on-the-ground-and-their-heart-up-in-the-sky-they-know-and-accept-reality-and-they-don-t-fight-it-out-anymore-because-they-ve-discovered-that-there-is-where-the-power-of-transformation-lies-as-eckhart-tolle-says-whatever-you-fight-you-strengthen-and-what-you-resist-persists {
  color: #000000;
  text-align: left;
  font: 400 16.13px "Roboto", sans-serif;

  width: 330.73px;
  height: 531.05px;
}
.p-19__how-do-type-ones-behave-when-they-are-in-an-healthy-state {
  color: #000000;
  text-align: left;
  font: 700 18.82px "Roboto", sans-serif;
  margin-top: 20.71px;
}
.p-19__rectangle-29 {
  background: linear-gradient(
    0deg,
    rgba(223, 188, 218, 1) 55%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 333.42px;
  height: 580.79px;
}
.p-19___1-healthy {
  width: 299.81px;
  height: 311.9px;
  margin-top: -312px;
}
.p-19__enneagram-1-w-2-strenghts-the-enneagram-type-1-wing-2-strengths-are-related-to-their-capacity-to-discern-what-s-the-right-thing-to-do-and-the-accurate-interpersonal-skill-to-transmit-it-to-other-people-they-treasure-a-determinant-energy-to-face-reality-with-a-high-sense-of-justice-and-altruism-empathy-is-fundamental-for-them-to-identify-other-people-s-needs-which-they-quickly-make-their-own-people-love-to-hear-their-speeches-inspirational-and-clarifying-the-enneagram-1-w-2-is-an-innate-speaker-as-every-human-they-want-to-feel-loved-but-for-them-this-is-an-inflection-point-nothing-makes-so-much-sense-without-being-surrounded-by-loved-ones-they-want-to-change-the-world-of-course-but-mostly-for-the-people-who-live-in-it {
  color: #000000;
  text-align: left;
  margin-top: 16.68px;
  width: 665.49px;
  height: 207.04px;
}
.p-19-enneagram-1-w-2-strenghts-the-enneagram-type-1-wing-2-strengths-are-related-to-their-capacity-to-discern-what-s-the-right-thing-to-do-and-the-accurate-interpersonal-skill-to-transmit-it-to-other-people-they-treasure-a-determinant-energy-to-face-reality-with-a-high-sense-of-justice-and-altruism-empathy-is-fundamental-for-them-to-identify-other-people-s-needs-which-they-quickly-make-their-own-people-love-to-hear-their-speeches-inspirational-and-clarifying-the-enneagram-1-w-2-is-an-innate-speaker-as-every-human-they-want-to-feel-loved-but-for-them-this-is-an-inflection-point-nothing-makes-so-much-sense-without-being-surrounded-by-loved-ones-they-want-to-change-the-world-of-course-but-mostly-for-the-people-who-live-in-it-span {
  color: #000000;
  font: 400 18.82px "Roboto", sans-serif;
  text-decoration: underline;
}
.p-19-enneagram-1-w-2-strenghts-the-enneagram-type-1-wing-2-strengths-are-related-to-their-capacity-to-discern-what-s-the-right-thing-to-do-and-the-accurate-interpersonal-skill-to-transmit-it-to-other-people-they-treasure-a-determinant-energy-to-face-reality-with-a-high-sense-of-justice-and-altruism-empathy-is-fundamental-for-them-to-identify-other-people-s-needs-which-they-quickly-make-their-own-people-love-to-hear-their-speeches-inspirational-and-clarifying-the-enneagram-1-w-2-is-an-innate-speaker-as-every-human-they-want-to-feel-loved-but-for-them-this-is-an-inflection-point-nothing-makes-so-much-sense-without-being-surrounded-by-loved-ones-they-want-to-change-the-world-of-course-but-mostly-for-the-people-who-live-in-it-span2 {
  color: #000000;
  font: 400 16.13px "Roboto", sans-serif;
}
.p-19-enneagram-1-w-2-strenghts-the-enneagram-type-1-wing-2-strengths-are-related-to-their-capacity-to-discern-what-s-the-right-thing-to-do-and-the-accurate-interpersonal-skill-to-transmit-it-to-other-people-they-treasure-a-determinant-energy-to-face-reality-with-a-high-sense-of-justice-and-altruism-empathy-is-fundamental-for-them-to-identify-other-people-s-needs-which-they-quickly-make-their-own-people-love-to-hear-their-speeches-inspirational-and-clarifying-the-enneagram-1-w-2-is-an-innate-speaker-as-every-human-they-want-to-feel-loved-but-for-them-this-is-an-inflection-point-nothing-makes-so-much-sense-without-being-surrounded-by-loved-ones-they-want-to-change-the-world-of-course-but-mostly-for-the-people-who-live-in-it-span3 {
  color: #000000;
  font: 700 16.13px "Roboto", sans-serif;
}
.p-19-enneagram-1-w-2-strenghts-the-enneagram-type-1-wing-2-strengths-are-related-to-their-capacity-to-discern-what-s-the-right-thing-to-do-and-the-accurate-interpersonal-skill-to-transmit-it-to-other-people-they-treasure-a-determinant-energy-to-face-reality-with-a-high-sense-of-justice-and-altruism-empathy-is-fundamental-for-them-to-identify-other-people-s-needs-which-they-quickly-make-their-own-people-love-to-hear-their-speeches-inspirational-and-clarifying-the-enneagram-1-w-2-is-an-innate-speaker-as-every-human-they-want-to-feel-loved-but-for-them-this-is-an-inflection-point-nothing-makes-so-much-sense-without-being-surrounded-by-loved-ones-they-want-to-change-the-world-of-course-but-mostly-for-the-people-who-live-in-it-span4 {
  color: #000000;
  font: 400 16.13px "Roboto", sans-serif;
}
.p-19__columns {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-between;
  height: 580px;
  width: 672px;
}
.p-19__columns-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.p-19__columns-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
