body {
  margin: 0;
}
.page-36 {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.page-36 .div {
  background-color: #ffffff;
  border: 1.34px none;
  height: 1132px;
  overflow: hidden;
  width: 799.93px;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 88%,
    rgb(217, 217, 217) 100%
  );
}

.page-36 .page-36-text {
  align-self: stretch;
  color: #000000;
  font-family: "Roboto-SemiBold", Helvetica;
  font-size: 18.8px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 10px;
  margin: 5px 0;
}

.page-36 .page-36-text-wrapper {
  color: #000000;
  font-family: "Roboto-SemiBold", Helvetica;
  font-size: 16.8px;
  font-weight: 600;
  letter-spacing: 0;
}

.page-36 .type-5-page-36-enneagram {
  height: 400px;
  object-fit: cover;
  top: 0;
  margin-left: -94px;
}

.page-36 .ellipse-7 {
  background-color: #1EB88E;
  border-radius: 3.36px;
  box-shadow: 0px 5.38px 5.38px #00000040;
  height: 7px;

  width: 7px;
}

.page-36 .h-1 {
  color: #000000;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 32.3px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 10px;
}

.page-36 .page-36-enneagram-type {
  color: #000000;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 16.1px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: justify;
}

.page-36 .page-36-text-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16.1px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.page-36 .page-36-page-36-text-wrapper-4 {
  color: #000000;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 21.5px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.page-36 .logo {
  height: 40px;

  object-fit: cover;
  width: 159px;
}

.page-36-row-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 68px 32px 68px;
  box-sizing: border-box;
  height: 1132px;
}

.first-row {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.page-36-last-row {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-end;
  width: 100%;
  justify-content: flex-end;
}

.page-36-last-row-last-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.page-36-last-row-text {
  color: #979797;
  font-family: "Roboto-Italic", Helvetica;
  font-size: 13.4px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.page-36-last-row-number {
  color: #979797;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 13.4px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.page-36-second-row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page-36-third-row {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.type-5-page-36-development-container {
  display: flex;
  justify-content: center;
}

.type-5-page-36-items-container {
  padding-top: 38px;
  z-index: 1;
}
