body {
  margin: 0;
}
.p-17,
.p-17 * {
  box-sizing: border-box;
}
.p-17 {
  background: #ffffff;
  width: 799.93px;
  height: 1132px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 40px 68px 32px 68px;
}
.p-17__rectangle-29 {
  background: linear-gradient(
    0.1deg,
    rgba(219, 165, 208, 1) 65%,
    rgba(255, 255, 255, 1) 85.23834943771362%
  );
  width: 329.38px;
  height: 516.26px;
}
.p-17__tips-for-name-personal-growth {
  color: #000000;
  text-align: left;
  font: 700 32.27px "Roboto", sans-serif;
  margin-top: 6.72px;
}
.p-17___17 {
  color: #989898;
  text-align: left;
  font: 400 13.44px "Roboto", sans-serif;
  display: flex;
  justify-content: flex-end;
}
.p-17__average-enneagram-type-1 {
  color: #000000;
  text-align: left;
  font: 700 21.51px "Roboto", sans-serif;
  margin-top: 50px;
}
.p-17__on-a-common-day-type-ones-are-energetic-and-purposeful-always-trying-to-take-meaningful-actions-with-an-organized-schedule-it-s-not-difficult-for-them-to-focus-and-determine-what-is-right-from-what-is-not-so-there-enneagram-1-s-go-walking-through-life-with-their-ideal-bars-measuring-everything-that-comes-across-them-if-type-ones-wonder-why-raccoons-and-squirrels-run-from-them-here-s-why-enneagram-1-s-have-wonderful-ideas-on-how-to-change-things-for-the-better-they-also-have-a-stubborn-conviction-which-is-fundamental-to-materialize-projects-and-that-makes-a-type-one-a-natural-leader-most-of-the-time {
  color: #000000;
  text-align: left;
  font: 400 16.13px "Roboto", sans-serif;
  width: 318.63px;
}
.p-17__the-enneagram-personality-method-is-the-best-way-to-face-the-challenge-of-making-friends-with-ourselves-we-are-sick-of-running-in-circles-repeating-our-past-as-we-run-from-it-as-einstein-would-say-if-you-want-different-results-do-not-do-the-same-things-the-enneagram-method-helps-us-to-highlight-our-inner-system-the-one-that-composes-our-matrix-if-you-re-looking-to-change-your-life-if-you-don-t-want-to-be-washed-away-by-your-feelings-and-thoughts-if-you-live-your-life-dreaming-of-a-different-one-take-a-look-at-the-following-strategies-to-enhance-personal-growth {
  color: #000000;
  text-align: left;
  font: 400 16.13px "Roboto", sans-serif;
  margin-top: 23.84px;
  width: 658.76px;
  height: 162.67px;
}
.p-17__the-best-the-worst-of-the-1-s-the-light-and-the-darkness-saying-that-enneagram-1-s-have-a-best-or-a-worst-part-will-help-please-that-inner-self-that-is-always-judging-them-but-ok-let-s-play-that-game-for-a-while-and-watch-a-type-1-close-their-window-and-look-at-other-people-between-the-sunblind-spaces-growling-softly-like-gollum-let-s-say-they-are-always-following-the-precious-that-s-great-it-could-make-enneagram-1-unwavering-but-if-they-obsess-over-it-they-can-run-into-unhealthy-behaviors-that-make-them-very-self-demanding-and-disconnected-from-other-people-then-ones-run-into-the-risk-of-missing-the-beauty-of-diversity-and-alternative-paths {
  color: #000000;
  text-align: left;
  margin-top: 17.48px;
  width: 662.8px;
  height: 162.67px;
}
.p-17-the-best-the-worst-of-the-1-s-the-light-and-the-darkness-saying-that-enneagram-1-s-have-a-best-or-a-worst-part-will-help-please-that-inner-self-that-is-always-judging-them-but-ok-let-s-play-that-game-for-a-while-and-watch-a-type-1-close-their-window-and-look-at-other-people-between-the-sunblind-spaces-growling-softly-like-gollum-let-s-say-they-are-always-following-the-precious-that-s-great-it-could-make-enneagram-1-unwavering-but-if-they-obsess-over-it-they-can-run-into-unhealthy-behaviors-that-make-them-very-self-demanding-and-disconnected-from-other-people-then-ones-run-into-the-risk-of-missing-the-beauty-of-diversity-and-alternative-paths-span {
  color: #000000;
  font: 700 18.82px "Roboto", sans-serif;
}
.p-17-the-best-the-worst-of-the-1-s-the-light-and-the-darkness-saying-that-enneagram-1-s-have-a-best-or-a-worst-part-will-help-please-that-inner-self-that-is-always-judging-them-but-ok-let-s-play-that-game-for-a-while-and-watch-a-type-1-close-their-window-and-look-at-other-people-between-the-sunblind-spaces-growling-softly-like-gollum-let-s-say-they-are-always-following-the-precious-that-s-great-it-could-make-enneagram-1-unwavering-but-if-they-obsess-over-it-they-can-run-into-unhealthy-behaviors-that-make-them-very-self-demanding-and-disconnected-from-other-people-then-ones-run-into-the-risk-of-missing-the-beauty-of-diversity-and-alternative-paths-span2 {
  color: #000000;
  font: 700 16.13px "Roboto", sans-serif;
}
.p-17-the-best-the-worst-of-the-1-s-the-light-and-the-darkness-saying-that-enneagram-1-s-have-a-best-or-a-worst-part-will-help-please-that-inner-self-that-is-always-judging-them-but-ok-let-s-play-that-game-for-a-while-and-watch-a-type-1-close-their-window-and-look-at-other-people-between-the-sunblind-spaces-growling-softly-like-gollum-let-s-say-they-are-always-following-the-precious-that-s-great-it-could-make-enneagram-1-unwavering-but-if-they-obsess-over-it-they-can-run-into-unhealthy-behaviors-that-make-them-very-self-demanding-and-disconnected-from-other-people-then-ones-run-into-the-risk-of-missing-the-beauty-of-diversity-and-alternative-paths-span3 {
  color: #000000;
  font: 400 16.13px "Roboto", sans-serif;
}
.p-17__how-do-type-ones-behave-when-they-are-in-the-average-state {
  color: #000000;
  text-align: left;
  font: 700 18.82px "Roboto", sans-serif;
  margin-top: 20.71px;
  width: 326.69px;
}
.p-17__logo-enneagram-universe-1-1 {
  width: 158.64px;
  height: 40.33px;
  display: flex;
  align-self: flex-end;
}
.p-17__personal-growth-average-enneagram-1 {
  color: #989898;
  text-align: left;
  font: 400 italic 13.44px "Roboto", sans-serif;
  display: flex;
  justify-content: center;
}
.p-17__enneagram-1-the-reformer-1 {
  width: 293.08px;
  height: 334.76px;
  margin-top: -336px;
}
.p-17__rectangle-29-container {
  display: flex;
  height: 100%;
}
.p-17__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.p-17__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
